 * {box-sizing: border-box;}



.wrapper > div {

    border-radius: 5px;
    background-color: lightskyblue;
}
.wrapper {
    display: grid;
    grid-gap: 8px;
    grid-template-rows: 5% 20% 40% 35%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "n"
    "h" 
    "l"
    "s";
}

@media (min-width: 800px) {
    .wrapper {
        background-color: blueviolet;
        grid-template-rows: 5% 50% 45%;
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: 
          "n n n n n n n n"
          "l l l h h h h h"
          "s s s s s s s s";
    }
}
nav{
    grid-area:n;
}
header {
    grid-area:h;
}

.scroll {
        background-color: #88d8b0;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        grid-area:s;
}
.logo{
    grid-area:l;
}


.wrapper2 {
    display: grid;
    grid-gap: 8px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "h" 
    "l";
}

@media (min-width: 800px) {
    .wrapper2 {
        background-color: blueviolet;
        grid-template-rows: 10% 10%;
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: 
          "l l l h h h h h"
    }
}