h1{
    color: white;

}

h2{ font-size: 80px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: right;
    margin-bottom: -50px;
    padding-right: 50px;
}
h3{
    color: white;
}
h4{
    color: white;
    text-align: right;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-right: 50px;

}


p{
    color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding-left: 60px;
}


h2:hover{

animation: tada 2s infinite;
-webkit-animation: tada 2s infinite;

}

h4:hover{

    animation: tada 2s infinite;
    -webkit-animation: tada 2s infinite;

}

.logo {
    background: radial-gradient(circle, red 0%,black 100%);
}

.logo2 {
    background: radial-gradient(circle, grey 0%,black 100%);
}

div {
    background: radial-gradient(circle, black 0%, grey 100%);
}

.logo2 {
    background: radial-gradient(circle, grey 0%,black 100%);
}

nav { 
    background: lightgrey;
}

