h1{
    color: white;

}

h2{ font-size: 80px;
    font-family: 'Roboto', sans-serif;
    color: white;
    /* padding-right: 100px; */
    text-align: right;
    margin-bottom: -50px;
    padding-right: 50px;
}
h3{
    color: white;
}
h4{
    color: white;
    text-align: right;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-right: 50px;

}


p{
    color: white;
}


h2:hover{

animation: tada 2s infinite;
-webkit-animation: tada 2s infinite;

}

.logo {
    /* height: 100vh; */
    background: radial-gradient(circle, red 0%,black 100%);
    /* text-align: left; */
}

/*#logo .content {
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}*/

div {
    background: radial-gradient(circle, black 0%, grey 100%);
}

svg{
    /* margin-top: -800px; */
}

