* {box-sizing: border-box;}




.wrapper > div {
    border: 2px solid rgb(102, 195, 162);
    border-radius: 5px;
    background: radial-gradient(circle, lightgrey 0%,black 100%);
    padding: 4em;
}

.header {
    grid-area: h;
}
.footer {
    grid-area: f;
}
.main {
    grid-area: m;
}
.sidebar {
    grid-area: s;
    padding-left: 70%;
}
.header2 {
    grid-area: a;

}

.sidebar2 {
    grid-area: b;

}
.wrapper {
    display: grid;
    grid-auto-rows: 40% auto 20%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "a" 
    "h"
    "m"
    "s"
    "b"
    "f";
}

@media (min-width: 1300px) {
   

    .wrapper {
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: 
          "a h h h h m m m m"
          "s s s s b b b b b"
          "f f f f f f f f f";
    }
}
